$bg-img: url("../img/page-background.png");
$pt-sec1: 130px;
$yellow: #fecc00;
$white: #fffffe;
$input-width: 48%;
@font-face{
    font-family: 'Helvetica Neue LT Pro';
    src: url("../font/HelveticaNeueLTPro-Roman.ttf") format('ttf');
    src: url("../font/HelveticaNeueLTPro-Roman.woff") format('woff');
    src: url("../font/HelveticaNeueLTPro-Roman.woff2") format('woff2');
}