@import 'settings';

body {
    background: $bg-img;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Arial';

    * {
        box-sizing: border-box;
    }

    .hide{
        display: none !important;
    }

    .alert-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        .alert{
            position: relative;
            background-color: #000;
            color: $yellow;
            padding: 5px 15px;
            font-size: 24px;
            
            .exit{
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: -25px;
                top: -25px;
                font-size: 19px;
                cursor: pointer;
                border-radius: 15px;
                width: 30px;
                height: 30px;
                background-color: #666;
                transition: 0.5s;
            }

            .exit:hover{
                filter: brightness(120%);
            }
        }

        
    }

    .display-flex {
        display: flex;
    }

    .no-style {
        padding: 0;
        margin: 0;
        list-style-type: none;
        color: #ffff;
        text-decoration: none;
        list-style-type: none;
    }

    a {
        color: #fff ;
        text-decoration: none;
    }

    a:hover{
        color: #fff;
        text-decoration: none;
    }

}