@import 'settings';

.header {
    background-color: #000;
    height: 64px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 999;
}

.logo-container {
    width: 200px;
    text-align: center;
}

.img-fluid {
    width: auto;
    height: 50px;
    margin-top: 9px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: grey;
    float: left;
}

.menu-holder {
    float: left;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 200px);
}

.menu-element {
    display: block;
    line-height: 64px;
    height: 64px;
    padding: 0 10px;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    transition: 0.2s;
}

.menu-element:hover{
    color: $yellow;
}

.navbar {
    min-height: 64px !important;
    line-height: 64px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.navbar>svg {
    width: 25px;
    height: 25x;
}

.uk-navbar-toggle{
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .list-holder {
        display: none !important;
    }

    .list-menu {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .list-menu>li {
        width: 100%;
    }

    .navbar {
        display: block;
    }
}