@import 'settings';

.section3 {
    width: 100%;
    min-height: 600px;
    padding-bottom: 30px;

    .title h2{
        margin: 0 auto;
        margin-top: 100px;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    .form {
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;

        .switch {
            display: flex;
            justify-content: center;

            .add {
                background-color: rgba(255, 255, 255, 0.3);
                width: 341px;
                transition: 0.5s;

                a {
                    color: #fff;

                    .s {
                        text-align: center;
                        text-transform: uppercase;
                        line-height: 44px;
                        margin: 0px;
                        padding: 10px;
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
            }

            .add:hover {
                background-color: rgba(255, 255, 255, 0.6);
            }

            .active-switch {
                background-color: #fff;

                a {
                    color: #000;
                }
            }

            .active-switch:hover {
                background-color: #fff;
            }

        }

        .form-element {
            width: 100%;
            padding: 50px;
            background-color: #ffffff;
            display: none;
        }

        .active-form {
            display: block
        }

        .form-img {
            padding-top: 62px;
            min-height: 950px;

            .first-text {
                color: #1a1919;
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 20px;

                .yellow-text {
                    color: $yellow;
                }
            }

            .upload-wrap {
                width: 100%;
                min-height: 198px;
                border: 1px solid #aaa;
                border-radius: 5px;
                margin-top: 30px;
                display: flex;
                flex-wrap: nowrap;
                padding: 20px;
                text-transform: none;

                

                .drop-section {
                    width: 50%;
                    border-right: 5px dashed #aaa;
                    position: relative;
                    transition: 0.2s;

                    .drop-input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }


                    .default-view {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        padding-top: 20px;

                        font-size: 20px;

                    }

                    .img-display {
                        display: none;
                        max-height: 100%;
                        width: 100%;
    
                        .file-upload-image {
                            max-width: 70px;
                            height: auto;
                            max-height: 600px;
                            display: block;
                            justify-content: center;
                            margin: 0 auto;
                            margin-bottom: 25px;
                        }
                    }
                }

                .drop-section:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }

                .fullView{
                    display: block !important;
                    border: none;
                    width: 100%;
                }


                .input-section {
                    width: 50%;
                    padding-top: calc(146px/4);
                    position: relative;
                    text-align: center;

                    .file-input {
                        margin: 0 auto;
                        display: block;
                        text-align: center;
                        line-height: 48px;
                        width: 245px;
                        background-color: #1a1919;
                        color: #fff;
                        height: 48px;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: -0.16px;
                        border-radius: 35px;
                        text-transform: lowercase;
                        transition: 0.5s;
                    }

                    .file-input:hover {
                        cursor: pointer;
                        color: $yellow;
                    }

                    p {
                        margin-top: 32px;
                        font-size: 20px;
                    }
                }
            }

            .img-require {
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                color: #000;
                text-transform: none;
                margin-top: 20px;
                text-align: center;
                padding: 0 50px;
            }

            .personal-data {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                input,
                textarea {
                    margin: 10px 0;
                    height: 50px;
                    min-width: $input-width;
                    border-radius: 10px;
                    box-shadow: 1px 2px 1px #fff;
                    border: 1px solid #aaa;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22px;
                    padding: 10px;
                    background-color: #f7f7f7;
                    font-family: 'Helvetica Neue LT Pro';
                }

                input:focus,
                textarea:focus {
                    border: 3px solid #aaa;
                    outline: transparent;

                }

                .description {
                    min-width: 100%;
                    min-height: 100px;
                    max-height: 250px;
                }
            }

            label{
                cursor: pointer;

                .rules {
                    box-shadow: 1px 2px 1px #ffffff, inset 1px 1px 1px rgba(0, 0, 1, 0.1), inset 0 0 1px 1px #ffffff;
                    width: 25px;
                    height: 25px;
                    padding: 5px;
                    margin-top: 10px;
                    border: 1px solid #aaaaaa;
                    background-color: #f4f4f4;
                    cursor: pointer;
                    float: left;
                }
    
                .rule-label {
                    float: left;
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 0;
                    padding: 5px;
                    width: calc(100% - 35px);
                }
            }

            

            .links {
                display: flex;
                width: 100%;
                justify-content: space-around;

                a {
                    color: #000;
                    text-decoration: underline;
                    font-size: 16px;
                    letter-spacing: 0.14px;
                    font-weight: 500;
                }
            }

            .submit {
                display: block;
                width: 292px;
                height: 60px;
                border-radius: 29px;
                border: none;
                background-color: #1a1919;
                color: #fff;
                font-size: 27px;
                font-weight: 400;
                line-height: 18px;
                text-transform: uppercase;
                margin: 0px auto;
                margin-top: 30px;
                cursor: pointer;
                transition: 0.5s;
            }

            .submit:hover {
                color: $yellow;
            }

            .submit:focus {
                outline: transparent;
            }
        }
    }

    .draged {
        opacity: 0.5;
        cursor: pointer;
    }

    .form-desc {
        min-height: 300px;

        form {

            .uk-container {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .description {
                    width: 100%;
                    min-width: 100%;
                    min-height: 100px;
                    max-height: 250px;
                    box-shadow: 1px 2px 1px #fff;
                    border: 1px solid #aaa;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22px;
                    padding: 10px;
                    background-color: #f7f7f7;
                    border-radius: 10px;
                    font-family: 'Helvetica Neue LT Pro';
                }

                .description:focus{
                    outline: none;
                }

                .submit {
                    display: block;
                    width: 292px;
                    height: 60px;
                    border-radius: 29px;
                    border: none;
                    background-color: #1a1919;
                    color: #fff;
                    font-size: 27px;
                    font-weight: 400;
                    line-height: 18px;
                    text-transform: uppercase;
                    margin: 0px auto;
                    margin-top: 30px;
                    cursor: pointer;
                    transition: 0.5s;
                }

                .submit:hover {
                    color: $yellow;
                }

                .submit:focus {
                    outline: none;
                }
            }
        }
    }

    .copyrights {
        color: #fff;
        text-align: center;
        width: 100%;
        font-family: 'Helvetica Neue LT Pro';
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 30px;

        p {
            margin: 5px;
        }
    }

}

@media only screen and (max-width: 1339px) and (min-width: 1100px) {
    .section3 {
        .form {
            width: 900px;
        }
    }
}

@media only screen and (max-width: 1099px) and (min-width: 900px) {
    .section3 {
        .form {
            width: 750px;

            .switch {

                .add {
                    width: 240px;

                    a {
                        .s {
                            font-size: 20px;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 899px) and (min-width: 769px) {
    .section3 {
        .form {
            width: 700px;

            .switch {

                .add {
                    width: 240px;

                    a {
                        .s {
                            font-size: 20px;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .section3 {
        .form {
            width: 100%;

            .switch {

                .add {
                    width: 160px;

                    a {
                        .s {
                            font-size: 16px;
                        }
                    }

                }
            }

            .form-img {
                padding-left: 25px;
                padding-right: 25px;

                form {
                    .first-text {
                        font-size: 14px;
                        line-height: 140%;
                    }

                    .upload-wrap {
                        .drop-section {
                            display: none;
                        }

                        .input-section {
                            width: 100%;
                        }
                    }

                    .img-require {
                        font-size: 12px;
                        padding: 0 25px;
                    }

                    .personal-data {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 479px) {
    .section3 {
        .form {
            width: 100%;

            .switch {

                .add {
                    width: 160px;

                    a {
                        .s {
                            font-size: 16px;
                        }
                    }

                }
            }

            .form-img {
                padding-left: 25px;
                padding-right: 25px;

                form {
                    .first-text {
                        font-size: 14px;
                        line-height: 140%;
                    }

                    .upload-wrap {
                        .drop-section {
                            display: none;
                        }

                        .input-section {
                            width: 100%;

                            .file-input{
                                width: 200px;
                            }
                        }
                    }

                    .img-require {
                        font-size: 12px;
                        padding: 0 15px;
                    }

                    .personal-data {
                        input {
                            width: 100%;
                        }
                    }

                    .links {
                        flex-wrap: wrap;
                        text-align: center;
                    }

                    .submit {
                        width: 270px;
                    }
                }
            }
        }
    }
}