@import 'settings';

.section2 {
    height: auto;
    width: 100%;


    .center-text {
        width: 900px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        color: $white;

        .yellow-text {
            color: $yellow;
        }
    }

    .title h2{
        margin: 0 auto;
        margin-top: 100px;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    .awards {
        max-width: 1800px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .award{
            min-width: 320px;
            padding: 0 50px;
            padding-top: 150px;
            .award-content{
                z-index: 98;
                width: 326px;
                min-height: 100px;
                background-color: #ffffff;
                position: relative;
                padding-top: 150px;
                padding-left: 20px;
                padding-right: 20px;

                .thumbnail{
                    z-index: 99;
                    position: absolute;
                    top: -100px;
                    left: -50px;
                    width: 380px;

                    .award-img{
                        position: absolute;
                        width: 100%;
                        right: 0;
                    }
                }

                h3{
                    padding-bottom: 20px;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 32px;
                    font-weight: 700;
                    color:  #222832;
                    border-bottom: 1px solid #d1cfcf;

                    .yellow-text{
                        color: $yellow;
                    }
                }

                p{
                    color: #222832;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 700;
                    margin: 0;
                    padding: 20px 0;
                }
            }
        }

    }
}

@media only screen and (max-width: 1339px) and (min-width: 1100px) {
    .section2 {

        .center-text {
            width: 900px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            line-height: 40px;
            color: $white;

            .yellow-text {
                color: $yellow;
            }
        }

        .title {
            margin: 0 auto;
            margin-top: 100px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;


        }

        .awards {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .award {

                .award-content{
                    width: 290px;
                    padding-top: 100px;
                    .thumbnail{
                        width: 320px;
                        left: -30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1099px) and (min-width: 900px) {
    .section2 {

        .center-text {
            width: 800px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            color: $white;

            .yellow-text {
                color: $yellow;
            }
        }

        .title {
            margin: 0 auto;
            margin-top: 50px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;


        }

        .awards {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            

            .award {

                .award-content{
                    width: 290px;
                    padding-top: 100px;
                    .thumbnail{
                        width: 320px;
                        left: -30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 899px) and (min-width: 769px) {
    .section2 {

        .center-text {
            width: 700px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 35px;
            color: $white;

            .yellow-text {
                color: $yellow;
            }
        }

        .title {
            margin: 0 auto;
            margin-top: 50px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;


        }

        .awards {
            width: 100%;
            display: flex;
            padding-top: 50px;

            .award {

                .award-content{
                    width: 290px;
                    padding-top: 100px;
                    .thumbnail{
                        width: 320px;
                        left: -30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .section2 {

        .center-text {
            width: 430px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            color: $white;

            .yellow-text {
                color: $yellow;
            }
        }

        .title {
            margin: 0 auto;
            margin-top: 50px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;


        }

        .awards {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding-top: 50px;

            .award {

                .award-content{
                    width: 290px;
                    padding-top: 100px;
                    .thumbnail{
                        width: 320px;
                        left: -30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    .section2 {

        .center-text {
            width: 300px;
            margin: 0 auto;
            margin-top: 100px;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            color: $white;

            .yellow-text {
                color: $yellow;
            }
        }

        .title {
            margin: 0 auto;
            margin-top: 50px;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;


        }

        .awards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 50px;

            .award {

                .award-content{
                    width: 240px;
                    padding-top: 80px;
                    .thumbnail{
                        width: 280px;
                        left: -36px;
                    }
                }
            }
        }
    }
}