@import 'settings';

.section1 {
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    padding-top: 130px;


    .left {
        width: 50%;
        justify-content: flex-end;
        padding-top: $pt-sec1;
        z-index: 2;
        padding-top: 0;


        .img-holder {
            min-width: 100px;
            position: relative;

            .main-img {
                max-width: 759px;
                height: auto;
                position: absolute;
                right: -10px;
            }
        }


    }

    .right {
        z-index: 1;
        padding-top: 0;
        width: auto;
        color: $white;
        font-family: 'Arial';
        font-weight: 700;
        position: relative;


        .h5 {
            margin-top: 60px;
            font-size: 18px;
            line-height: 40px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .h2 {
            font-size: 60px;
            line-height: 65px;
            text-transform: uppercase;
            width: 480px;
        }

        .yellow {
            background-color: $yellow;
            color: #000;
            font-size: 28px;
            padding: 5px 10px;
        }

        .descryption1 {
            font-size: 28px;
            line-height: 40px;
            width: 710px;
        }

        .descryption2 {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            width: 610px;
        }

        .pen-holder {
            position: absolute;
            width: auto;
            bottom: 50px;
            right: -100px;
            z-index: -1;

            .pen {
                width: 180px;
                height: auto;
            }
        }
    }

    .button {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        height: 210px;

        .notify-button {
            position: absolute;
            top: 0;
            right: 48%;
            width: 210px;
            height: auto;
            z-index: 10;
        }
    }


}

@media only screen and (max-width: 1645px) and (min-width: 1340px) {
    .section1 {
        height: 790px;

        .left {

            .img-holder {
                padding-top: 50px;

                .main-img {
                    width: 600px;
                }
            }
        }

        .right {

            .h5 {
                font-size: 14px;
            }

            .h2 {
                font-size: 56px;
            }

            .yellow {
                font-size: 24px;
            }

            .descryption1 {
                font-size: 24px;
                width: 610px;
            }

            .descryption2 {
                font-size: 14px;
                width: 560px;
            }

            .pen-holder {
                right: -50px;

                .pen {
                    width: 130px;
                }
            }
        }

        .button {
            height: 180px;

            .notify-button {
                width: 180px;
            }
        }
    }
}

@media only screen and (max-width: 1339px) and (min-width: 1100px) {
    .section1 {
        height: 700px;
        padding-top: 110px;

        .left {

            .img-holder {
                padding-top: 50px;

                .main-img {
                    width: 490px;
                }
            }
        }

        .right {

            .h5 {
                font-size: 10px;
                line-height: 100%;
                width: 480px;
            }

            .h2 {
                font-size: 52px;
            }

            .yellow {
                font-size: 20px;
            }

            .descryption1 {
                font-size: 20px;
                width: 490px;
            }

            .descryption2 {
                font-size: 10px;
                width: 490px;
                line-height: 100%;
            }

            .pen-holder {
                right: -50px;
                bottom: 80px;

                .pen {
                    width: 110px;
                }
            }
        }

        .button {
            height: 180px;

            .notify-button {
                width: 180px;
                right: 48%;
            }
        }
    }
}

@media only screen and (max-width: 1099px) and (min-width: 900px) {
    .section1 {
        height: 570px;
        padding-top: 90px;

        .left {

            .img-holder {
                padding-top: 70px;

                .main-img {
                    width: 400px;
                }
            }
        }

        .right {

            .h5 {
                font-size: 10px;
                line-height: 100%;
            }

            .h2 {
                font-size: 42px;
                line-height: 130%;
                width: 400px;
            }

            .yellow {
                font-size: 16px;
            }

            .descryption1 {
                font-size: 16px;
                width: 380px;
                line-height: 130%;
            }

            .descryption2 {
                font-size: 10px;
                width: 380px;
                line-height: 130%;
            }

            .pen-holder {
                right: -35px;
                bottom: 10px;

                .pen {
                    width: 110px;
                }
            }
        }

        .button {
            height: 120px;

            .notify-button {
                width: 120px;
                right: 49%;
            }
        }
    }
}

@media only screen and (max-width: 899px) and (min-width: 769px) {
    .section1 {
        height: 520px;
        padding-top: 70px;

        .left {

            .img-holder {
                padding-top: 65px;

                .main-img {
                    width: 370px;
                    right: -5px;
                }
            }
        }

        .right {

            .h5 {
                font-size: 10px;
                line-height: 100%;
            }

            .h2 {
                font-size: 36px;
                line-height: 130%;
                width: 310px;
            }

            .yellow {
                font-size: 14px;
            }

            .descryption1 {
                font-size: 12px;
                width: 280px;
                line-height: 130%;
            }

            .descryption2 {
                font-size: 10px;
                width: 280px;
                line-height: 130%;
            }

            .pen-holder {
                right: -15px;
                bottom: 0;

                .pen {
                    width: 110px;
                }
            }
        }

        .button {
            height: 120px;

            .notify-button {
                width: 120px;
                right: 49%;
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .section1 {
        height: 590px;
        padding-top: 50px;

        .left {
            display: none;

            .img-holder {
                padding-top: 65px;

                .main-img {
                    width: 370px;
                    right: -5px;
                }
            }
        }

        .right {
            padding-left: 10vw;
            width: 100%;

            .h5 {
                font-size: 14px;
                line-height: 100%;
                width: 370px;
            }

            .h2 {
                font-size: 40px;
                line-height: 130%;
                width: 370px;
            }

            .yellow {
                font-size: 16px;
            }

            .descryption1 {
                font-size: 15px;
                width: 310px;
                line-height: 130%;
            }

            .descryption2 {
                font-size: 14px;
                width: 310px;
                line-height: 130%;
            }

            .pen-holder {
                right: 0px;
                bottom: 20px;

                .pen {
                    width: 110px;
                }
            }
        }

        .button {
            height: 120px;

            .notify-button {
                width: 120px;
                right: 0;
                left: 0;
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    .section1 {
        height: 670px;
        padding-top: 50px;

        .left {
            display: none;

            .img-holder {
                padding-top: 65px;

                .main-img {
                    width: 370px;
                    right: -5px;
                }
            }
        }

        .right {
            padding-left: 10vw;
            width: 100%;

            .h5 {
                font-size: 14px;
                line-height: 100%;
                width: 100%;
            }

            .h2 {
                font-size: 40px;
                line-height: 130%;
                width: 100%;
            }

            .yellow {
                font-size: 16px;
                letter-spacing: 2px;
                line-height: 120%;
            }

            .descryption1 {
                font-size: 15px;
                width: 100%;
                line-height: 130%;
            }

            .descryption2 {
                font-size: 14px;
                width: 100%;
                line-height: 130%;
            }

            .pen-holder {
                right: 0px;
                bottom: 20px;
                display: none;

                .pen {
                    width: 110px;
                }
            }
        }

        .button {
            height: 120px;

            .notify-button {
                width: 120px;
                right: 0;
                left: 0;
                margin: 0 auto;
            }
        }
    }
}